* {
	box-sizing: border-box;
}

.container {
	max-width: 1170px;
	min-width: 320px;
	padding-left: 15px;
	padding-right:15px;
	margin: 0 auto;
		&:after {
		display: table;
		content: ' ';
		clear: both;
		}
}

.clearfix {
	&:after {
		display: table;
		content: ' ';
		clear: both;
		}
}